html {
    background-image: url(desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1 {
    font-size: 40px;
    color: black;
}
.main {
    background-color: white;
    margin: 30px 30px;
    padding: 30px 30px;
    border-radius: 30px;
}