<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/public/style.css" />
    <title>{{title}}</title>
</head>
<body>
<h1>{{title}} </h1>
<form method="post">
  <label for="name">User: </label><br>
  <input type="text" id="user_id" name="user_id"><br>
  <label for="day" id="day">Day</label><br>
  <input type="text" id="day" name="day"><br>
  <label for="start_at">Start at: </label><br>
  <input type="text" id="start_at" name="start_at"><br>
  <label for="end_at">End at: </label><br>
  <input type="text" id="end_at" name="end_at"><br>
  <br>
  <input type="submit" value="Add new schedle">
</form> 
</body>
</html> 