<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link type="text/css" href="/static/layout.css" />
    <title>{{title}}</title>
</head>

<body>
<h1>{{title}} </h1>
<form>
  <label for="name">First name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="name">Last name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="name">Email</label><br>
  <input type="text" id="email" name="email"><br>
  <label for="pass">Password</label><br>
  <input type="password" id="pass" name="pass"><br>
  <input type="submit" value="Submit">
</form> 
</body>
</html> 