<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link type="text/css" href="/static/layout.css" />
    <title>{{title}}</title>
</head>
<body>
<h1> {{title}}</h1>
{{#schedules}}
<h3> User id: {{user_id}} </h3>
<h4> Day: {{day}} </h4>
<h4> Start at: {{start_at}} </h4>
<h4> End at: {{end_at}} </h4>
{{/schedules}}
</body>
</html> 