<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link type="text/css" href="/static/layout.css" />
    <title>User schedules</title>
</head>
<body>
<h1>{{title}}</h1>
{{#schedule}}
<h2> Timeline for</h2>
<h1>USER: {{user_id}} </h1>
<p> Work day: {{day}} </p>
<p> You start at: {{start_at}} </p>
<p> You work till: {{end_at}} </p> 
{{/schedule}}
</body>
</html> 
</body>
</html> 